@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground : #ffffff
  --primary-color: #0070f3;
  --secondary-color: #ff4081;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1e90ff;
    --secondary-color: #ff79c6;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  margin: 0;
}

